<div class="content">
    <ol type="1" [start]="listStartNo">
        <li class="post is-marginless" *ngFor="let item of feedItems">
            <p class="is-marginless">
                <a [href]="item.url" style="color: black;font-weight: 600;">{{ item.title }}</a>&nbsp;({{item.domain}})
                <br />
            </p>
            <span>{{ item.points }} points</span> by <a (click)="navigateToUserInfo(item.user)">{{ item.user }}&nbsp;</a>
            <span class="age">{{ item.time_ago }}</span> <span></span> |
            <a (click)="navigateToItemInfo(item.id)">{{ item.comments_count }}&nbsp;comments</a>
        </li>
    </ol>
</div>

<div class="paginate" *ngIf="feedItems?.length > 0">
    <div class="is-pulled-left" *ngIf="currentPage != 1">
        <a class="button is-primary" (click)="
        getFeedItems(feedType, (currentPage = currentPage - 1));
        listStartNo = listStartNo - 30
      ">Prev</a>
    </div>
    <div class="is-pulled-right">
        <a class="button is-primary" (click)="
        getFeedItems(feedType, (currentPage = currentPage + 1));
        listStartNo = listStartNo + 30
      ">Next</a>
    </div>
</div>