<nav class="level">
  <p class="level-item has-text-centered">
    <img
      class="brand"
      src="https://trello-copy-ddiaorohmd.now.sh/static/media/logo.3c0d526e.svg"
      alt=""
    />
  </p>
</nav>
<div class="columns">
  <div class="column is-full">
    <div class="columns">
      
			<div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="content">Create a board</div>
          </div>
        </div>
      </div>
			
    </div>
  </div>
</div>
