<div class="tabs is-centered is-boxed is-medium">
    <ul>
        <li class="is-active">
            <a>
                <span>Top Stories</span>
            </a>
        </li>
        <li>
            <a>
                <span>New</span>
            </a>
        </li>
        <li>
            <a>
                <span>Comments</span>
            </a>
        </li>
        <li>
            <a>
                <span>Ask</span>
            </a>
        </li>
        <li>
            <a>
                <span>Show</span>
            </a>
        </li>

        <li>
            <a>
                <span>Jobs</span>
            </a>
        </li>
    </ul>
</div>