<div class="tabs is-centered is-boxed is-medium">
    <ul>
        <li class="is-active">
            <a>
                <span [routerLink]="['news']" routerLinkActive="is-active">Top</span>
            </a>
        </li>
        <li>
            <a>
                <span [routerLink]="['newest']" routerLinkActive="is-active">New</span>
            </a>
        </li>
        <li>
            <a>
                <span [routerLink]="['ask']" routerLinkActive="is-active">Ask</span>
            </a>
        </li>
        <li>
            <a>
                <span [routerLink]="['show']" routerLinkActive="is-active">Show</span>
            </a>
        </li>

        <li>
            <a>
                <span [routerLink]="['jobs']" routerLinkActive="is-active">Jobs</span>
            </a>
        </li>
    </ul>
</div>