<div class="tabs is-centered is-toggle is-medium">
    <ul>
        <li class="no-outline" [routerLink]="['news']" routerLinkActive="is-active">
            <a>
                <span>Top</span>
            </a>
        </li>
        <li class="no-outline" [routerLink]="['newest']" routerLinkActive="is-active">
            <a>
                <span>New</span>
            </a>
        </li>
        <li class="no-outline" [routerLink]="['ask']" routerLinkActive="is-active">
            <a>
                <span>Ask</span>
            </a>
        </li>
        <li class="no-outline" [routerLink]="['show']" routerLinkActive="is-active">
            <a>
                <span>Show</span>
            </a>
        </li>
        <li class="no-outline" [routerLink]="['jobs']" routerLinkActive="is-active">
            <a>
                <span>Jobs</span>
            </a>
        </li>
    </ul>
</div>