img.brand {
  width: 65px;
  height: 65px;
  -webkit-filter: drop-shadow(3px 3px 3px #333);
  filter: drop-shadow(3px 3px 3px #333);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  outline: none;
}

img.brand:hover {
  -webkit-filter: drop-shadow(6px 6px 6px #333);
  filter: drop-shadow(6px 6px 6px #333);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1.10) rotate(-4.5deg);
  -ms-transform: scale(1.10) rotate(-4.5deg);
  transform: scale(1.10) rotate(-4.5deg)
}