<div class="columns">
  <div class="column is-full">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card has-text-white-bis has-background-primary app-board-title">
          <div class="card-content">
            <div class="content">{{board?.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="columns is-multiline">
      
      
      <ng-template [ngIf]="board?.list?.length > 0">
        <div class="column is-one-third" *ngFor="let list of board.list">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{list.name}}</p>
            </header>
            <div class="card-content">
              <div class="content">
                <input class="input" type="text" placeholder="Text input" #cardName (keyup.enter)="createCard(cardName.value, list.id)"/>
                  <div class="app-card-content" *ngFor="let card of list.cards">
                    <div class="content">{{card.name}}</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="column is-one-third">
        <div
          class="card"
          (click)="showCreateList=!showCreateList"
          *ngIf="!showCreateList"
        >
          <div class="card-content"><div class="content">Add a List</div></div>
        </div>

        <div class="card" *ngIf="showCreateList">
          <header class="card-header">
            <p class="card-header-title">Creating a List</p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon" (click)="showCreateList=!showCreateList">
                <i class="fas fa-times" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <input
                class="input"
                type="text"
                placeholder="Text input"
                #listName
              />
            </div>
          </div>
          <footer class="card-footer">
            <a
              [routerLink]=""
              class="card-footer-item"
              (click)="showCreateList=!showCreateList"
              >Cancel</a
            >
            <a
              [routerLink]=""
              class="card-footer-item"
              (click)="createList();showCreateList=!showCreateList"
              >Create</a
            >
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
