<form [formGroup]="userForm" (ngSubmit)="signup()">
  <div class="columns is-vcentered">
    <div class="login column is-4 ">
      <section class="section">
        <div class="has-text-centered">
          <img class="login-logo" src="assets/images/app-logo.png" />
        </div>
        
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-right">
            <input class="input" type="text" formControlName="displayName" required/>
            <span class="icon is-small is-right">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <p class="help is-danger">
            {{ formErrors.displayName }}
          </p>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-right">
            <input class="input" type="email" formControlName="email" required/>
            <span class="icon is-small is-right">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger">
            {{ formErrors.email }}
          </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-right">
            <input class="input" type="password" formControlName="password" required/>
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <p class="help is-danger">
            {{ formErrors.password }}
          </p>
        </div>

        <div class="has-text-centered" style="margin: 25px 0px;">
          <button type="submit" class="button is-normal is-link" [disabled]="!userForm.valid">Sign Up!</button>
        </div>
        <div class="has-text-centered" style="margin: 15px 0px;">
          <a [routerLink]="['/signin']">
            Already have an account? Log in now !</a>
        </div>
      </section>
    </div>
    <div class="interactive-bg">
      <particles
        [style]="myStyle"
        [width]="width"
        [height]="height"
        [params]="myParams"
      ></particles>
    </div>
  </div>
</form>
