<aside class="menu">
  <p class="menu-label">Apps</p>
  <ul class="menu-list">
    <li><a [routerLink]="['/trello-clone']" routerLinkActive="is-active">Trello Clone</a></li>
    <li><a [routerLink]="['/hackernews']" routerLinkActive="is-active">HackerNews Clone</a></li>
    <li><a [routerLink]="['/pokedex']" routerLinkActive="is-active">Pokédex</a></li>
    <li><a [routerLink]="['/bhagavadgita']" routerLinkActive="is-active">Bhagavad Gita</a></li>
  </ul>
  <p class="menu-label">Settings</p>
  <ul class="menu-list">
    <li><a (click)="signOut()">Logout</a></li>
  </ul>
</aside>