.card,
.box {
    background-color: #ffb300;
    cursor: default;
}

.card-header-title,
.verse-title {
    font-family: 'Yatra One', cursive;
}

.content,
.verse-text {
    font-family: 'Lato', sans-serif;
}

.verse-divider {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.button.open-verse {
    background-color: #f80;
    border-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 200ms ease-in-out;
}

.button.open-verse:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}