<form [formGroup]="userForm" (ngSubmit)="signin()">
  <div class="columns is-vcentered">
    <div class="login column is-4 ">
      <section class="section">
        <div class="has-text-centered">
          <img class="login-logo" src="assets/images/noimage.png" />
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-right">
            <input class="input" type="text" formControlName="email"/>
            <span class="icon is-small is-right">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <p class="help is-danger">
            {{ formErrors.email }}
          </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-right">
            <input class="input" type="password" formControlName="password"/>
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <p class="help is-danger">
            {{ formErrors.password }}
          </p>
        </div>
        
        <div class="has-text-centered">
          <button type="submit" class="button is-normal is-link" [disabled]="!userForm.valid">Login</button>
        </div>
        <div class="has-text-centered">
          <a [routerLink]="['/signup']">
            Don't you have an account? Sign up now!</a
          >
        </div>
      </section>
    </div>
    <div class="interactive-bg">
      <particles
        [style]="myStyle"
        [width]="width"
        [height]="height"
        [params]="myParams"
      ></particles>
    </div>
  </div>
</form>
