<pokedex-header (typeSelected)="typeSelected($event)" (nameSearch)="nameSearch($event)"></pokedex-header>

<div class="columns is-multiline" style="margin-bottom: 20px;">
    <div class="column is-one-third" *ngFor="let pokemon of pokemons">
        <div class="box" (click)="showPokemonDetails(pokemon)">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img *ngIf="pokemon?.sprites.front_default!=null; else noImage" [src]="pokemon?.sprites.front_default"
                            [alt]="pokemon?.name" />
                        <ng-template #noImage>
                            <img src="assets/images/noimage.png" alt="" />
                        </ng-template>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p style="margin-top: 35px" class="is-size-6-desktop">
                            <strong>{{pokemon?.name}}</strong>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <br />
    <div class="column" *ngIf="pokemons?.length == 0" style="text-align: center">
        No Records
    </div>
</div>

<go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300">
    <i class="fas fa-arrow-up"></i>
</go-top-button>

<div class="paginate" *ngIf="pokemons?.length > 0">
    <div class="is-pulled-left" *ngIf="feedItem.previous != null ">
        <a class="button is-primary" (click)="getFeedData(feedItem.previous)">Prev</a>
    </div>
    <div class="is-pulled-right" *ngIf="feedItem.next != null ">
        <a class="button is-primary" (click)="getFeedData(feedItem.next)">Next</a>
    </div>
</div>

<ng-template [ngIf]="isActive">
    <pokedex-list-item [pokemon]="selectedPokemon" [(isActive)]="isActive"></pokedex-list-item>
</ng-template>