<div class="columns is-multiline">
    <div class="column is-one-third" *ngFor="let pokemon of pokemons">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img [src]="pokemon?.sprites.front_default" alt="Image" />
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{pokemon?.name}}</strong> <br />
                            Weight : {{pokemon?.weight}} <br />
                            Base Experirence : {{pokemon?.base_experience}}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>